.clear {clear: both}



#wp-posts-re-order #sortable { list-style-type: none; margin: 10px 0 0; padding: 0; width: 100%; }
#wp-posts-re-order #sortable ul { margin-left:20px; list-style: none; }
#wp-posts-re-order #sortable li {

 padding: 2px 0px; margin: 4px 0px;  border: 1px solid #DDDDDD; cursor: move; -moz-border-radius:6px;

}
#wp-posts-re-order #sortable li span { display: block; background: #f9f8f8;  padding: 5px 10px; color:#555; font-size:13px; font-weight:bold;}
#wp-posts-re-order #sortable li.placeholder{border: dashed 2px #ccc;height:25px;}
.wrap .example {
    color: #666;
    font-size: 12px;
    font-weight: normal;
}
.wrap pre.example {
background:#3D3D3D;
color:#fff;
padding:20px;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}

#wp-posts-re-order #sortable li,
h2.subtitle,
.wp-re-order-options{

width: 75%;
padding: 10px;
/*  */
background: #f0f0f0;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#e7e7e7');
background: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
background: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7);
background: -moz-linear-gradient(top, #f7f7f7, #e7e7e7);
background: -o-linear-gradient(top, #f7f7f7, #e7e7e7);
background: -ms-linear-gradient(top, #f7f7f7, #e7e7e7);
/* cursor: move; */
border: 1px solid #ddd;
border-raidus: 6px;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
}
h2.subtitle{
    width:98%;
   font-weight: bold;
}